html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Oxygen', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
h1 {
	font-family: 'Oxygen', sans-serif;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: rgb(216, 216, 226);
}

section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
	margin-top: 4rem;
}
p, [for="abtype"], [for="comments"] {
	margin-bottom: 0;
	margin-top: 2rem;
}
fieldset {
	background-color: whitesmoke;
	padding-left: 2rem;
	margin: 2rem 0;
	border: none;
}
legend {
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	margin-top: 1.5rem;
	padding: .5rem 1rem;
	background-color: white;
	color: rgb(7, 7, 7);
	text-align: center;
}
label {
	display: block;
	padding: .5rem;
}
textarea {
	height: 10rem;
	padding: 1rem;
}
select {
	font-size: 1rem;
}
button {
	font-size: 1rem;
	margin: .5rem 0;
	padding: .75rem 1rem;
	background-color: #1170ec;
	color: white;
	border: none;
}
button:hover {
	background-color: white;
	color: black;
}
input:not([type="radio"]):not([type="checkbox"]), textarea, select {
	display: block;
	margin-bottom: 1rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: .25rem 1rem;
	border: .125px solid rgb(192, 191, 191);
	border-radius: 4px;
}







